// 主题色
$primary-color: #0068E2;
// 背景色
$bg-color: #EEF1F5;
$banner-bg-color: linear-gradient(180deg, #348DF7 0%, #005DF9 44.5%, #003AD8 100%);
// 字体颜色
$font-white-color: #FFF;
$font-blue-color: #0068E2;  
$font-black-color: #000;
$font-light-black-color: #333;
$font-grey-color: #666;
$font-deep-grey-color: #999;
$font-light-grey-color: #CCC;
$font-light-blue-color: #CFDBE5;
// 按钮字体颜色
$btn-text-color: #FFF;
// 按钮颜色     
$primary-btn-color: #0068E2;
$btn-hover-color: rgba(255, 255, 255, 0.20);
// 导航栏按钮字体颜色
$nav-btn-text-color: #FFF;
$nav-btn-hover-text-color: #0068E2; 
// 导航栏按钮颜色     
$nav-btn-color: #0068E2;
$nav-btn-hover-color: rgba(0, 104, 226, 0.06);
// 圆角大小
$btn-border-radius: 0.04rem;
// 阴影
$shadow-20: 0px 8px 20px rgba(0, 56, 186, 0.16);  