// Theme
$primary-color: #0068e2;
// BG
$bg-color: #eef1f5;
$banner-bg-color: linear-gradient(
  180deg,
  #348df7 0%,
  #005df9 44.5%,
  #003ad8 100%
);
// Font
$font-white-color: #fff;
$font-blue-color: #0068e2;
$font-black-color: #000;
$font-light-black-color: #333;
$font-grey-color: #666;
$font-deep-grey-color: #999;
$font-light-grey-color: #ccc;
$font-light-blue-color: #cfdbe5;
// Btn
$btn-text-color: #fff;
$primary-btn-color: #0068e2;
$btn-hover-color: rgba(255, 255, 255, 0.2);
// Nav
$nav-btn-text-color: #fff;
$nav-btn-hover-text-color: #0068e2;
// Nav-btn
$nav-btn-color: #0068e2;
$nav-btn-hover-color: rgba(0, 104, 226, 0.06);
// Border
$btn-border-radius: 0.04rem;
// Shadow
$shadow-20: 0px 8px 20px rgba(0, 56, 186, 0.16);
